.all-tasks {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
}