.input {
  display: block;
  position: relative;
  width: 100%;
  $root: &;

  &__field {
    width: 100%;
    padding: 10px 10px 10px 34px;
    background-color: var(--color-white);
    color: var(--color-black);
    font-family: var(--ff-main);
    font-size: 16px;
    border: 1px solid var(--color-grey);
    border-radius: 8px;
    outline: none;
    transition: border-color var(--transition-200);

    &:hover:not(:disabled),
    &:focus-visible:not(:disabled) {
      border-color: var(--color-green);
    }

    &:hover:not(:disabled) ~ #{$root}__icon,
    &:focus-visible:not(:disabled) ~ #{$root}__icon {
      color: var(--color-green);
    }

    &::placeholder {
      color: var(--color-grey);
    }

    &:disabled {
      background-color: var(--color-disabled);
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    pointer-events: none;
    color: var(--color-grey);
    transition: color var(--transition-200);
  }

  &__error {
    display: block;
    color: var(--color-red);
    font-size: 13px;
  }

  &--error #{$root}__field {
    border-color: var(--color-red);
    margin-bottom: 5px;
  }

  &--error #{$root}__icon {
    color: var(--color-red);
  }
  
}