:root {
  // Colors
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-whisper: #EAEAEA;
  --color-grey: #838383;
  --color-navy-blue: #005BFF;
  --color-neon-blue: #2F2CFF; 


  // Typography
  --ff-main: "Montserrat", "Arial", sans-serif;


  // Transitions
  --transition-200: 0.2s ease-in;
  
}