:root {
  // Colors
  --color-white: #FFFFFF;
  --color-white-20: rgba(1, 1, 1, 0.2);
  --color-black: #000000;
  --color-whisper: #EAEAEA;
  --color-grey: #838383;
  --color-navy-blue: #005BFF;
  --color-green: #00AA00;
  --color-red: #BB0000;


  // Typography
  --ff-main: "Montserrat", "Arial", sans-serif;


  // Transitions
  --transition-200: 0.2s ease-in;
  
}