.select {
  position: relative;

  &__field {
    width: 100%;
    padding: 10px 30px 10px 10px;
    font-family: var(--ff-main);
    font-size: 14px;
    outline: none;
    transition: border-color var(--transition-200);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:hover:not(:disabled),
    &:focus-visible {
      border-color: var(--color-green);
    }

    &:disabled ~ .select__arrow {
      opacity: 0.2;
    }
  }

  &__arrow {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 14px;
    right: 10px;
    pointer-events: none;
    color: var(--color-black);
  }

  &__error {
    display: block;
    color: var(--color-red);
    font-size: 13px;
  }
}